body{  
    font-family: Calibri, Helvetica, sans-serif;  
    background-color: rgb(110, 110, 110);  
  }  
  .container {  
      padding: 50px;  
    background-color: lightblue;  
  }  
    
  input[type=text], input[type=password], textarea {  
    width: 100%;  
    padding: 15px;  
    margin: 5px 0 22px 0;  
    display: inline-block;  
    border: none;  
    background: #f1f1f1;  
  }  
  input[type=text]:focus, input[type=password]:focus {  
    background-color: rgb(194, 194, 194);  
    outline: none;  
  }  
   div {  
              padding: 10px 0;  
           }  
  hr {  
    border: 1px solid #f1f1f1;  
    margin-bottom: 25px;  
  }  
  .registerbtn {  
    background-color: #4CAF50;  
    color: white;  
    padding: 16px 20px;  
    margin: 8px 0;  
    border: none;  
    cursor: pointer;  
    width: 100%;  
    opacity: 0.9;  
  }  
  .registerbtn:hover {  
    opacity: 1;  
  }  
  *{
      margin: 0;
      padding: 0;
  }
  .wrapper{
      width: 1170px;
      margin: auto;
  }
 
  
  .nav-area{
      float: right;
      list-style: none;
      margin-top: 30px;

  }
  .nav-area li{
      display: inline-block;
  }
  .nav-area li a{
      color: #FFF;
      text-decoration: none;
      padding: 5px 20px; 
      font-family: poppins;
      font-size: 16px;
  }
.nav-area  li a:hover{
    background: #FFF;
    color: #333;
}
 
       
 .welcome-text  {
        position: absolute;
        width: 600px;
        height: 300px;
        margin: 20% 30%;
        text-align:center;

    }
 .welcome-text h1{
     text-align: center;
     color: #fff;
     text-transform: uppercase;
     font-size: 40px;
  }
  .welcome-text a{
      border: 1px solid #fff;
      padding: 10px 25px;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 14px;
      margin-top: 20px;
      display: inline-block;
      color: #fff;
  }
  .welcome-text a:hover{
      background: #fff;
      color: #333;

      